@{
    ViewBag.Title = "Contact developer";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Support:</strong>   <a href="farzad.seifi@gmail.com">farzad.seifi@gmail.com</a><br />
</address>